* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "VT323", monospace;
  text-align: center;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  display: flex;
  align-items: center;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  background-color: #252525;
  color: #ffffff;
  font-size: 15px;
}
