.container-header {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  margin-top: 40px;
  padding: 20px;
  align-items: center;
  max-width: 100%;
  gap: 20px;
}

.pokeball {
  display: block;
  max-width: 50px;
  max-height: 50px;
}

.logo {
  display: block;
  max-width: 300px;
  max-height: 300px;
}
